*.pyc
.*.swp
.#*
#*#
*~
*DS_Store
*cc.so
*cc.d
*C.so
*C.d
*.pcm
*.png
*.pdf

online/cygnus_fe
online/cygnus_fe_*
online/debug.txt
offline/PlainTObjectsDumper
online/#runlog.log#
online/.ALARM.SHM
online/.ELOG.SHM
online/.HISTORY.SHM
online/.LOGGER_HISTORY_EVENTS.TXT
online/.MSG.SHM
online/.ODB.SHM
online/.SHM_HOST.TXT
online/.SHM_TYPE.TXT
online/.SYSMSG.SHM
online/.SYSTEM.SHM
online/*.hst
online/*.idf
online/*.idx
online/CMakeCache.txt
online/CMakeFiles/
online/*.msl
online/*.xml
online/*.xml.odb
online/Makefile
online/log/checkGC*
online/log/m2c*
online/log/pyfe*
online/log/mdw*
online/log/attach.txt
online/log/rc*
online/log/rm*
online/log/GC*
online/log/TM*
online/log/daq_stored.log
online/log/fcom*
online/other_sequences

online/bck
online/*.log
online/*.save
online/*.cmake
online/ctables
online/*.bck
online/*.bkp
online/*.npy
online/last.json
online/scfe
online/test_230208
online/nohup.out
online/dev/.ipynb_checkpoints
online/dev/*.py~
online/dev/old
online/htpasswd.txt
online/dev/tmp_gascontroller.txt
online/libcamera.a
online/libvme.a

analyzer/histos*
analyzer/DataTree*
analyzer/Makefile
analyzer/Makefile.usr
analyzer/cyganalyzer.exe
analyzer/dict
analyzer/include/generated
analyzer/include/tabs/CYGTWaveformDisplay.h
analyzer/obj
analyzer/res
analyzer/src/generated
analyzer/tmp.dat

cygno
middleware
data